# Project specific
public/assets/

# Laravel
vendor:
public/storage/
Homestead.yaml
Homestead.json
bootstrap/cache/
.env.*.php
.env.php
.env

#Composer
composer.phar
vendor/

# Npm
node_modules/
logs
*.log
npm-debug.log*

# Sass
.sass-cache/
*.css.map
